{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>PMT | Conformance Check</title>{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Conformance Check</h1>
        </div>

        <!-- Content Row -->
        <div class="row mb-5">
            <a href="#perform_conformance_check" class="btn btn-success" data-toggle="modal">Perform Conformance
                Check</a>
        </div>
        {% if results %}
            <div class="col-12">
                {% for key, value in results.items %}
                    {{ key }}
                    {% if key == "token_replay_result" %}
                        {% for trace in value %}
                            <br>
                            {{ forloop.counter }}
                            {% for k,v in trace.items %}
                                {{ k }}
                                {{ v }}
                                <br>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        {% endif %}

        {# Select conformance check #}
        <div id="perform_conformance_check" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    {# Modal Header #}
                    <div class="modal-header">
                        <h4 class="modal-title">Perform Conformance Check</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    {# Modal body #}
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                    </div>
                    {# Modal footer #}
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Perform">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

{% endblock %}