{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}<title>PMT | Process Discovery</title>{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Process Discovery</h1>
    </div>

    <!-- Content Row -->

    <div class="row mb-5">
        <a href="#discover_process_model" class="btn btn-success mr-2" data-toggle="modal">Discover New Process
            Model</a>
        <a href="#render_process_model" class="btn btn-primary" data-toggle="modal">Render Existing Process Model</a>
    </div>
    {% if selected_process_model %}
    {# Process Model Name #}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Process Model: {{selected_process_model.process_model_name}}</h1>
    </div>
    {# Process Model Image #}
    <div class="row">
        {# Have to change media/ #}
        <img src="media/{{selected_process_model.process_model_image}}" width="1280" height="200">
    </div>
    {% endif %}

</div>
<!-- /.container-fluid -->

</div>



<!-- End of Main Content -->

{% endblock %}